# Default ignored files
/.idea/workspace.xml
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\stani\IdeaProjects\planneruz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
